html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: rgb(34, 195, 140);
  background: radial-gradient(
    circle,
    rgba(34, 195, 140, 1) 5%,
    rgba(253, 186, 45, 1) 95%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  width: 624px;
  background-color: #f8f8f8;
  border-radius: 16px;
  padding: 32px;
  margin: 16px;
  display: inline-block;
}
.person {
  display: flex;
  align-items: flex-start;

}
.person__picture {
  max-width: 148px;
  max-height: 148px;
  border-radius: 74px;
  top: 0px;
  margin-right: 32px;
  
  
}
.person__name {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  color: #000000;
}
.person__position {
  margin: 0px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #545454;
}
.person__info {
}
.person__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.special {
  color: #ED6D05;
  font-weight: normal;
}
.person__link {
color: #E20613;
line-height: 22px;
text-decoration: none;

}